.priceChartRoot {
  height: 100%;
  padding: 0.5rem;
  width: 100%;
}

.priceChartEmptyState {
  align-items: center;;
  display: flex;
  font-size: 2.4rem;
  justify-content: center;
  height: 100%;
  padding: 26rem;
  text-align: center;
}
