.root {
  display: flex;
  flex-flow: column;
  height: 100vh;
  min-height: 0;

  & > main {
    flex-grow: 1;
    position: relative;

    & > article {
      bottom: 0;
      left: 0;
      position: absolute;
      right: var(--price-card-width);
      top: 0;
    }

    & > aside {
      background-color: var(--surface-200);
      border-left: 1px solid var(--surface-border);
      bottom: 0;
      right: 0;
      overflow-y: auto;
      position: absolute;
      top: 0;
      width: var(--price-card-width);
    }
  }
}
